<div id="content">
  <div class="row">
    <sa-big-breadcrumbs [items]="['Table', 'Data Tables']" icon="table" class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
    </sa-big-breadcrumbs>
    <!--  <sa-stats></sa-stats>-->
  </div>
  <sa-widgets-grid>
    <!-- START ROW -->
    <div class="row">

      <!-- NEW COL START -->
      <article class="col-sm-12 col-md-12 col-lg-12">

        <!-- Widget ID (each widget will need unique ID)-->
        <div sa-widget [editbutton]="false" [custombutton]="false">

          <header>
            <span class="widget-icon"> <i class="fa fa-edit"></i> </span>

            <h2>Checkout Form </h2>

          </header>

          <!-- widget div-->
          <div>


            <!-- widget content -->
            <div class="widget-body no-padding">

              <form id="checkout-form" class="smart-form" novalidate="novalidate">

                <fieldset>
                  <div class="row">
                    <section class="col col-3">
                      <label class="input">
                        <input type="text" name="iCodigo" [(ngModel)]="curso.codigo" placeholder="Código curso">
                      </label>
                    </section>
                    <section class="col col-9">
                      <label class="input">
                        <input type="text" name="INombre" placeholder="Nombre del Curso" [(ngModel)]="curso.nombre">
                      </label>
                    </section>
                  </div>

                  <div class="row">
                    <section class="col col-3">
                      <label class="input">
                        <input type="date" name="iFechaInicio" [ngModel]="curso.inicio | date:'yyyy-MM-dd'"
                          (ngModelChange)="curso.inicio = $event" placeholder="Fecha Inicio">
                      </label>
                    </section>
                    <section class="col col-3">
                      <label class="input">
                        <input type="date" name="iFechaFin" [ngModel]="curso.fin | date:'yyyy-MM-dd'"
                          (ngModelChange)="curso.fin = $event" placeholder="Fecha Fin">
                      </label>
                    </section>
                  </div>

                </fieldset>


                <footer *ngIf="!guardando">
                  <button type="button" (click)="guardar()" class="btn btn-primary">
                    Guardar
                  </button>
                  <button type="button" (click)="cancelar()" class="btn btn-danger">
                    Cancelar
                  </button>
                  <button *ngIf="id" type="button" (click)="eliminar()" class="btn btn-danger">
                    Eliminar
                  </button>
                </footer>
              </form>


            </div>
            <!-- end widget content -->

          </div>
          <!-- end widget div -->

        </div>
        <!-- end widget -->

      </article>
      <!-- END COL -->



    </div>

    <!-- END ROW -->
  </sa-widgets-grid>
</div>