<form [formGroup]="formPregunta" id="checkout-form" class="smart-form" 
novalidate="novalidate" 
(ngSubmit)="onSubmit()">

    <fieldset>
        <div class="row">
            <section class="col col-xs-12">
                <label class="textarea">
                    <textarea formControlName="textoPregunta" required placeholder="Introduce el texto de la pregunta">
           </textarea>
            </label>

            </section>
            <section class="col col-xs-12">
                <input type="checkbox" formControlName="preguntaEvaluable" />
                Marcar si la pregunta es evaluable
            </section>
        </div>

        <p>Form value: {{ formPregunta.value | json }}</p>

    </fieldset>

    <footer>
        <button type="submit" class="btn btn-primary" [disabled]="!formPregunta.valid">
            Guardar
        </button>
        <button type="button" class="btn btn-danger">
            Cancelar
        </button>
       
    </footer>
</form>