<div id="content">
  <div class="row">
    <sa-big-breadcrumbs [items]="['Table', 'Data Tables']" icon="table" class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
    </sa-big-breadcrumbs>
    <!--  <sa-stats></sa-stats>-->
  </div>
  <sa-widgets-grid>

    <div class="row">
      <article class="col-sm-12">

        <div sa-widget [editbutton]="false" color="blueDark">
          <header><span class="widget-icon"> <i class="fa fa-table"></i> </span>
            <h2>Column
              Filters </h2>
          </header>
          <div>
            <div class="widget-body no-padding" *ngIf="encuestas">          
             
              <data-table 
              [encuestas]="encuestas" 
              (encuestaId)="encuestaSeleccionada($event)">   
              </data-table> 

            </div>
       
          </div>
        </div>

      </article>


    </div>

  </sa-widgets-grid>
</div>