<div id="content">
  <div class="row">
    <sa-big-breadcrumbs [items]="['Table', 'Data Tables']" icon="table" class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
    </sa-big-breadcrumbs>
    <!--  <sa-stats></sa-stats>-->
  </div>
  <sa-widgets-grid>

    <div class="row">
      <article class="col-sm-12">

        <div sa-widget [editbutton]="false" color="blueDark">
          <header><span class="widget-icon"> <i class="fa fa-table"></i> </span>
            <h2>Column
              Filters </h2>
          </header>
          <div>
            <div class="widget-body no-padding" *ngIf="cursos">
              <sa-datatable [options]="options" filter="true" tableClass="table table-condenced table-striped table-bordered">
                <thead>
                  <tr>
                    <th class="hasinput" [ngStyle]="{width:'15%'}"><input type="text" class="form-control"
                        placeholder="Filtro Código" />
                    </th>
                    <th class="hasinput" [ngStyle]="{width:'55%'}"><input type="text" class="form-control"
                      placeholder="Filtro Nombre" />
                  </th>
                    <th class="hasinput" [ngStyle]="{width:'15%'}">
                      <input type="date" placeholder="Filtro Inicio"
                        class="form-control datepicker" data-dateformat="yy/mm/dd" />
                    </th>
                    <th class="hasinput" [ngStyle]="{width:'15%'}">
                      <input type="date" placeholder="Filtro Inicio"
                      class="form-control datepicker" data-dateformat="yy/mm/dd" />
                  </th>
                  <th>
                      
                  </th>
                  </tr>
                  <tr>
                    <th data-class="expand">Código</th>         
                    <th data-hide="expand">Nombre</th>            
                    <th data-hide="phone,tablet">Inicio</th>
                    <th data-hide="phone,tablet">Fin</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
              </sa-datatable>
            </div>
       
          </div>
        </div>

      </article>


    </div>

  </sa-widgets-grid>
</div>