<aside id="left-panel">

  <!-- User info -->
  <sa-login-info></sa-login-info>
  <!-- end user info -->

  <nav>
    <!-- NOTE: Notice the gaps after each icon usage <i></i>..
    Please note that these links work a bit different than
    traditional href="" links. See documentation for details.
    -->

    <ul saSmartMenu>

      <li routerLinkActive="active">
        <a routerLink="/home" title="Home">
          <i class="fa fa-lg fa-fw fa-home"></i>
          <span class="menu-item-parent">{{'Home' | i18n}}</span>
        </a>
      </li>


      <li routerLinkActive="active">
        <a title="Curso">
          <i class="fa fa-lg fa-fw fa-home"></i>
          <span class="menu-item-parent">{{'Curso' | i18n}}</span>
        </a>
        <ul>
          <li>
            <a routerLink="/cursos" title="Listado de cursos">
              <i class="fa fa-lg fa-fw fa-home"></i>
              <span class="menu-item-parent">{{'Listado' | i18n}}</span>
            </a>
          </li>
          <li>
            <a routerLink="/cursos/curso" title="Alta de cursos">
              <i class="fa fa-lg fa-fw fa-home"></i>
              <span class="menu-item-parent">{{'Alta Curso' | i18n}}</span>
            </a>
          </li>
        </ul>
      </li>
      <li routerLinkActive="active">
          <a title="Encuesta">
            <i class="fa fa-lg fa-fw fa-home"></i>
            <span class="menu-item-parent">{{'Encuesta' | i18n}}</span>
          </a>
          <ul>
            <li>
              <a routerLink="/encuestas" title="Listado de encuestas">
                <i class="fa fa-lg fa-fw fa-home"></i>
                <span class="menu-item-parent">{{'Encuestas' | i18n}}</span>
              </a>
            </li>
            <li>
              <a routerLink="/encuestas/encuesta" title="Alta de encuestas">
                <i class="fa fa-lg fa-fw fa-home"></i>
                <span class="menu-item-parent">{{'Alta/Edición Encuesta' | i18n}}</span>
              </a>
            </li>
          </ul>
        </li>
    </ul>
  </nav>

  <sa-minify-menu></sa-minify-menu>

</aside>