<div id="content">
  <div class="row">
    <sa-big-breadcrumbs [items]="['Table', 'Data Tables']" icon="table" class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
    </sa-big-breadcrumbs>
    <!--  <sa-stats></sa-stats>-->
  </div>
  <sa-widgets-grid>
    <!-- START ROW -->
    <div class="row">

      <!-- NEW COL START -->
      <article class="col-sm-12 col-md-12 col-lg-12">

        <!-- Widget ID (each widget will need unique ID)-->
        <div sa-widget [editbutton]="false" [custombutton]="false">

          <header>
            <span class="widget-icon"> <i class="fa fa-edit"></i> </span>

            <h2>Checkout Form </h2>

          </header>

          <!-- widget div-->
          <div>


            <!-- widget content -->
            <div class="widget-body no-padding">


              <form [formGroup]="form" id="checkout-form" class="smart-form" novalidate="novalidate"
                (ngSubmit)="onSubmit()">

                <fieldset>
                  <div class="row">
                    <section class="col col-6">
                      <label class="input">
                        <select formControlName="curso" required 
                       [compareWith]="compare">
                          <option *ngFor="let curso of cursos" [ngValue]="curso">
                            {{ curso.nombre }}
                          </option>
                        </select>
                        <p>Form value: {{ form.value | json }}</p>
                        <!-- {state: {name: 'New York', abbrev: 'NY'} } -->
                      </label>
                    </section>
                    <section class="col col-6">
                      <label class="input">

                      </label>
                    </section>
                  </div>



                </fieldset>


                <footer>
                  
                  <p>Form value: {{ encuesta| json }}</p>
                  <button type="submit" class="btn btn-primary" [disabled]="!form.valid">
                    Añadir Preguntas
                  </button>
                  <button type="button" class="btn btn-danger">
                    Cancelar
                  </button>
                  <button *ngIf="id" type="button" class="btn btn-danger">
                    Eliminar
                  </button>
                </footer>
              </form>
            </div>
            <!-- end widget content -->

          </div>
          <!-- end widget div -->

        </div>
        <!-- end widget -->

      </article>
      <!-- END COL -->



    </div>
    <!-- END ROW -->


    <ng-container *ngIf="encuesta?.preguntas?.length>0">
    <!-- START ROW -->
    <div class="row" *ngFor="let pregunta of encuesta?.preguntas">

      <!-- NEW COL START -->
      <article class="col-sm-12 col-md-12 col-lg-12">

        <!-- Widget ID (each widget will need unique ID)-->
        <div sa-widget [editbutton]="false" [custombutton]="false">

          <header>
            <span class="widget-icon"> <i class="fa fa-edit"></i> </span>

            <h2>Checkout Form </h2>

          </header>

          <!-- widget div-->
          <div>


            <!-- widget content -->
            <div class="widget-body no-padding">
              <div>
                <app-pregunta [pregunta]="pregunta"
                 (preguntaOut)="asignarPregunta($event)">
                </app-pregunta>
              </div>
            </div>
            <!-- end widget content -->

          </div>
          <!-- end widget div -->

        </div>
        <!-- end widget -->

      </article>
      <!-- END COL -->



    </div>
    <!-- END ROW -->
    </ng-container>
  </sa-widgets-grid>
</div>