<div class="dataTables_wrapper form-inline dt-bootstrap no-footer" *ngIf="encuestas">
    <table class="dataTable responsive table table-condenced
     table-striped table-bordered">
        <thead>
            <tr>
                <th class="sorting_desc" (click)="sort('id')">
                    Encuesta ID
                </th>
                <th class="sorting_desc" (click)="sort('curso.codigo')">
                    Código curso
                </th>
                <th class="sorting_desc" (click)="sort('curso.nombre')">
                    Nombre Curso
                </th>
                <th>
                    Acciones
                </th>
            </tr>
            <tr>
                <th class="hasinput" style="width: 30%">
                    <input [(ngModel)]="filterObject.id" class="form-control" placeholder="Filtro Id" type="text">
                </th>
                <th class="hasinput" style="width: 30%">
                    <input [(ngModel)]="filterObject.curso.codigo" class="form-control"
                        placeholder="Filtro Código Curso" type="text">
                </th>
                <th class="hasinput" style="width: 30%">
                    <input [(ngModel)]="filterObject.curso.nombre" class="form-control"
                        placeholder="Filtro Nombre Curso" type="text">
                </th>
                <th class="hasinput" style="width: 10%">

                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let encuesta of encuestas | dataTableFilterPipe:filterObject">
                <td>{{encuesta.id}}</td>
                <td>{{encuesta.curso?.codigo}}</td>
                <td>{{encuesta.curso?.nombre}}</td>
                <td><button class="btn btn-primary" (click)="seleccionarEncuesta(encuesta.id)">
                        Editar</button></td>
            </tr>
        </tbody>
    </table>

</div>